$govuk-font-family: arial, sans-serif;
$govuk-include-default-font-face: false;

@import "node_modules/govuk-frontend/all";

.meme-template {
  max-width: 500px;
}

.govuk-footer__copyright-logo {
  background-image: none !important;
  position: relative;
}

.govuk-footer__licence-logo {
  position: absolute;
  top: 0;
}

.govuk-header__container {
  border-bottom: 0;
}

.rainbow-border {
  height: 10px;
  background: linear-gradient(to right, rgb(43, 120, 240), rgb(84, 255, 97), rgb(217, 196, 10), rgb(250, 112, 50), rgb(214, 0, 186), rgb(163, 0, 233));
}

.authenticated-user {
  float: right;
}