{% extends "layout.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Caption your image</h1>

      <div id="canvas-container">
        <img src="/images/{{ object }}" class="meme-image">
      </div>


    </div>
    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">Your captions</h2>
      <form method=post action="/caption">
        {{ govukInput({ label: { text: "Title" }, id: "title", name: "title", classes: [ "meme-text" ] }) }}
        <div id="captions-container"></div>
        {{ govukButton({ text: "Submit", type: "submit" }) }}
      </form>
    </div>

  </div>

{% endblock %}