{% extends "layout.njk" %}

{% block content %}

  <h1>Caption your image</h1>

  <div>
  <canvas id="meme-canvas" width="500px" height="333px"></canvas>
  </div>

  <input class="meme-text">
  <input class="meme-text">
  <input class="meme-text">

  <div>


  </div>

{% endblock %}