<!doctype html>

<div>

<form method=post action="/upload" enctype="multipart/form-data">
  <input type=file name=imageUpload accept="image/png, image/jpeg" required>
  <input type=submit>
</form>

</div>

<script src="/static/memer.js"></script>