<!doctype html>

<head>
<link rel=stylesheet href="/static/memer.css">
</head>

<body>

<div>
<canvas id="meme-canvas" width="500px" height="333px"></canvas>
</div>

<input class="meme-text">
<input class="meme-text">
<input class="meme-text">

<div>

<form method=post action="/upload" enctype="multipart/form-data">
  <input type=file name=imageUpload accept="image/png, image/jpeg" required>
  <input type=submit>
</form>

</div>

{% for object in objects %}
  <img class="meme-template" src="/images/{{ object }}">
{% else %}
  <p>No images yet</p>
{% endfor %}

<script src="/static/memer.js"></script>
</body>